* {
    margin: 0 ;
    padding: 0;
}
body {
    background-image: url('../img/matrix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

ul {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    justify-content: space-around;

}
li {
    list-style: none;
}
